{% extends "base.html" %}
{% block content %}
<h2>Consultancy Services</h2>
<p>Contact our experts for personalized farming guidance.</p>
<table border="1" cellpadding="8">
    <tr>
        <th>Expert</th>
        <th>Specialization</th>
        <th>Contact</th>
    </tr>
    <tr>
        <td>Dr. hamama</td>
        <td>Soil Science</td>
        <td>hamama@agrifarma.com</td>
    </tr>
    <tr>
        <td>Ms. nida</td>
        <td>Crop Management</td>
        <td>nida@agrifarma.com</td>
    </tr>
</table>
{% endblock %}
